body{
    background: #000;
    font-family: inter;
    color: white;
}
.graycolor{
    color: #FFFFFF80;

}
nav{
    margin: 10px 120px;
}

.pcolor{
    color: #E6533C;

}

.heading{
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
}

.nav1{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}

.nav2{
    display: flex;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 20px;
    justify-content: space-between;
    width: 350px;
    margin-right: 30px;
    padding: 2px 8px 2px 2px;
}
.home{
    background-color: #E6533C;
    padding: 2px 8px 2px 8px;
    border-radius: 20px;
}

/* ------------------------------- */

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 699px;
}
.top11{   
    font-weight: 800;
    font-size: 78px;
    line-height: 93.6px;  
}

.top12{
    font-family: dancing script;
}
.top2{
    width: 550px;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn0{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn1{
    width: 300px;
    border-radius: 42px;
    background-color: #E6533C;
    border: none;
    padding: 15px 30px;
    margin-right: 8px;
    font-weight: 600;
    color: white;
}
.btn2{
    width: 300px;
    border-radius: 42px;
    border: 1px solid;
    padding: 15px 30px;
    background-color: #ffffff00;
    color: white;
    font-weight: 600;
}

.check{
    width: 160px;
    height: 85px;
    border: 1px;
    border-radius: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 244, 244, 0.158);
    top: 400px;
    right: 320px;
}

.check > h1{
    width: 20px;
    height: 20px;
    border: none;
    background-color:#E6533C;
    border-radius: 20px;    
}

.check1{
    width: 160px;
    height: 85px;
    border: 1px;
    border-radius: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 244, 244, 0.158);
    top: 210px;
    left: 300px;
}

/* -------------------------------------- */

.habit{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.habit-demo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 30px 0px 30px;
}
.demo{
    width: 180px;
    text-align: center;
}
.demo img{
    border-radius: 50%;   
}

/* --------------------------------------------- */

.advertise{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 15px;
    
}

.advertise1{
    width: 50%;
    margin-left: 40px;
}
.advertise2{
    display: flex;
    margin: 15px 15px;
}

.advertise2 img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

/* --------------------------------------------- */

.training0{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(2, 200px); 
}

.grid-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    z-index: 2; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
}


.item1 {
    grid-column: span 3; 
}

.item2 {
    grid-column: span 6;
}

.item3 {
    grid-column: span 3; 
}

.item4 {
    grid-column: span 5; 
    grid-row: 2; 
}

.item5 {
    grid-column: span 3; 
    grid-row: 2; 
}

.item6 {
    grid-column: span 4; 
    grid-row: 2; 
}

.item1 .overlay {
    background-color: rgba(0, 255, 255, 0.4);
}

.item2 .overlay {
    background-color: rgba(255, 0, 0, 0.4);
}

.item3 .overlay {
    background-color: rgba(0, 0, 0, 0.4); 
}

.item4 .overlay {
    background-color: rgba(27, 27, 27, 0.652);
}

.item5 .overlay {
    background-color: rgba(255, 255, 0, 0.4);
}

.item6 .overlay {
    background-color: rgba(0, 0, 255, 0.4); 
}

/* ----------------------------------------------- */

.BMI1 {
    text-align: center;
    margin-top: 50px;
}


.bmi-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
    background-color: #2d2d2d;
}

.bmi-chart {
    margin-left: 90PX;
    width: 25%;
    padding: 20px;
}

.bmi-chart h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bmi-chart table {
    width: 100%;  
}

.bmi-chart table th,
.bmi-chart table td {
    padding: 8px;
    border: 1px solid #444;
     color: gray;
}

.bmi-chart table th {
    font-weight: bold;
    color: white;
}

.bmi-calculator {
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin-right: 120px;
}

.bmi-calculator h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: gray;
    font-size: 16px;
}


.btn-calculate {
    background-color: #e6533c;
    border: none;
    padding: 12px;
    width: 40%;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

/* ---------------------------------------------- */

.team1 {
    margin-top: 40px;
    text-align: center;
}

.team0 {
    margin-right: 120px;
    margin-left: 120px;
    background-color: #2d2d2d;
    border-radius: 10px;
}

.team2 {
    display: flex;
    padding: 10px 10px 0px;

}

.team2 img {
    width: 420px;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}

.team2 h1 {
    position: absolute;
    top: 3400px;
    right: 400px;
    
}
.team3 {
    display: flex;
    padding: 10px;
}
.team3 img {
    object-fit: cover;
    height: 300px;
    width: 420px;
    border-radius: 10px;
    margin-right: 10px;
}

/* ---------------------------------------- */
.foot0 {
    background-color: #2d2d2d;
}
.foot {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 40px;
}
.foot p {
    color: gray;
}
.foot1 {
    width: 30%;
}

footer {
    text-align: center;
    padding: 10px;
    color: gray;
    position: relative;
}
